<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        * { margin: 0; box-sizing: border-box; font-family: Poppins, sans-serif !important;}
    </style>
</head>
<body style="box-sizing: border-box; width: 100%; padding: 0 20px;">
    <main style="box-sizing: border-box; width: 100%; padding: 10px">
        <section style="width: 100%;">
            <!-- <div style="text-align: center;">
                <img src="{{path}}/images/email-icon.png">
            </div> -->
            <content style="width: 100%; display: block;">
                <p style="margin: 20px 0; font-size: 14px;">Hola {{name}}!</p>
                <p style="margin: 30px 0; font-size: 14px;">Recientemente se solicitó un cambio de contraseña a tu cuenta de Vantart. Si eres el solcitante a continuación puedes hacerlo:</p>
                <div style="margin: 50px 0; text-align: center;">
                    <a href='{{activateUrl}}' style="box-sizing: border-box; border-radius: 10px; width: 100%; text-align: center; background-color: rgb(0, 157, 255); padding: 10px; font-size: 14px; font-weight: 600; color: white; text-decoration: none; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">Restablecer contraseña</a>
                </div>
                <p style="margin: 20px 0; font-size: 14px;">Si no quieres cambiar tu contraseña o no solicitaste este proceso, ignora y elimina este correo.</p>
                <p style="margin: 20px 0; font-size: 14px;">Recuerda, por ningún motivo compartas este correo con nadie.</p>
                <div style="font-size: 14px;">
                    <p style="margin: 0;">Saludos cordiales,</p>
                    <p style="margin: 0;">Equipo tecnico de Vantar</p>
                </div>
            </content>
        </section>
        <footer style="width: 100%; margin: 30px 0;">
            <p style="font-weight: 600; color: gray; font-size: 14px; text-align: center;">Copyright &copy; {{year}} | Vantar Inventory</p>
        </footer>
    </main>
</body>
</html>